services:
  frontend:
    build:
      context: .
      dockerfile: InterfazWeb/Dockerfile
    ports:
      - "3000:80"
  server:
    build:
      context: .
      dockerfile: Servidor/Dockerfile
    ports:
      - "8080:8080"
  telegrambot:
    build:
      context: .
      dockerfile: TelegramBot/Dockerfile
    environment:
      EVENTOS_TELEGRAM_BOT_TOKEN: ${EVENTOS_TELEGRAM_BOT_TOKEN}
      EVENTOS_TELEGRAM_BOT_USERNAME: ${EVENTOS_TELEGRAM_BOT_USERNAME}
