services:
  # NODO PRIMARIO (Servidor A)
  mongo1:
    image: mongo:7
    container_name: eventos-mongo1
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--port", "27017", "--quiet", "--logpath", "/dev/null"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data1:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)"]
      interval: 5s
      timeout: 2s
      retries: 5

  # NODO SECUNDARIO (Servidor B)
  mongo2:
    image: mongo:7
    container_name: eventos-mongo2
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--quiet", "--logpath", "/dev/null"]
    ports:
      - "27018:27017"
    volumes:
      - mongo_data2:/data/db
    depends_on: [mongo1]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh","--quiet", "--eval", "quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)"]
      interval: 5s
      timeout: 2s
      retries: 5

  # NODO SECUNDARIO (Servidor C)
  mongo3:
    image: mongo:7
    container_name: eventos-mongo3
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--quiet", "--logpath", "/dev/null"]
    ports:
      - "27019:27017"
    volumes:
      - mongo_data3:/data/db
    depends_on: [mongo1]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh","--quiet", "--eval", "quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)"]
      interval: 5s
      timeout: 2s
      retries: 5
  mongo-init-replica:
    image: mongo:7
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    entrypoint:
      - bash
      - -c
      - |
        echo "Esperando que los nodos estén listos..."
        sleep 10

        echo "Intentando inicializar replica set..."
        mongosh --host mongo1:27017 --quiet --eval '
          try {
            rs.initiate({
              _id: "rs0",
              members: [
                { _id: 0, host: "mongo1:27017" },
                { _id: 1, host: "mongo2:27017" },
                { _id: 2, host: "mongo3:27017" }
              ]
            })
          } catch (e) {
            if (e.codeName === "AlreadyInitialized") {
            print("Replica set ya estaba inicializado, continuando...")
          } else {
            throw e
            }
          }
        '

        echo "Esperando que el PRIMARY esté disponible..."
        until mongosh --host mongo1:27017 --quiet --eval '
        const status = rs.status();
        const primary = status.members.find(m => m.stateStr === "PRIMARY");
        print(primary ? "true" : "false");
        ' | grep true > /dev/null; do
        echo "Esperando PRIMARY..."
        sleep 2
        done

        echo "Replica set inicializado correctamente."
    restart: "no"

  # INTERFAZ WEB
  interfazweb:
    build:
      context: ./InterfazWeb
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  # SERVIDOR
  server:
    build:
      context: .
      dockerfile: Servidor/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mongo1
      - mongo2
      - mongo3
      - mongo-init-replica
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo1:27017,mongo2:27017,mongo3:27017/eventos?replicaSet=rs0
      EVENTOS_SERVER_SECRET_KEY: ${EVENTOS_SERVER_SECRET_KEY}

  # TELEGRAM BOT
  telegrambot:
    build:
      context: .
      dockerfile: TelegramBot/Dockerfile
    depends_on:
      - server
    environment:
      EVENTOS_TELEGRAM_BOT_TOKEN: ${EVENTOS_TELEGRAM_BOT_TOKEN}
      EVENTOS_TELEGRAM_BOT_USERNAME: ${EVENTOS_TELEGRAM_BOT_USERNAME}

  redis-telegram:
    image: redis:8.2.3
    container_name: redis-telegram-eventos
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: [
      "redis-server",
      "--appendonly", "yes",
      "--appendfsync", "everysec",
      "--auto-aof-rewrite-percentage", "100",
      "--auto-aof-rewrite-min-size", "64mb",
      "--maxmemory", "200mb",
      "--maxmemory-policy", "allkeys-lru",
      "--dir", "/data",
      "--loglevel", "notice"
    ]

volumes:
  mongo_data1:
  mongo_data2:
  mongo_data3:
  redis_data: