services:
  mongo:
    image: mongo:7
    container_name: eventos-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  interfazweb:
    build:
      context: ./InterfazWeb
      dockerfile: Dockerfile
    ports:
      - "3000:80"
  server:
    build:
      context: .
      dockerfile: Servidor/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_HOST: mongo
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_DATA_MONGODB_DATABASE: eventos
      EVENTOS_SERVER_SECRET_KEY: ${EVENTOS_SERVER_SECRET_KEY}
  telegrambot:
    build:
      context: .
      dockerfile: TelegramBot/Dockerfile
    environment:
      EVENTOS_TELEGRAM_BOT_TOKEN: ${EVENTOS_TELEGRAM_BOT_TOKEN}
      EVENTOS_TELEGRAM_BOT_USERNAME: ${EVENTOS_TELEGRAM_BOT_USERNAME}

volumes:
  mongo_data: